<section id="products-container" class="product-cards">
  <template id="product-template">
    <div class="catalog-product-wrap">
      <div class="product-img">
        <img id="product-pic" class="product" alt="Продукт">
        <img id="wishlist-btn" class="wishlist-img" alt="Cердце">
      </div>
      <div class="product-description">
        <a class="block-link" href=""></a>
        <h4></h4>
        <span></span>
        <span> &#8381;</span><br>
        <button class="btn-oval">В корзину</button>
      </div>
    </div>
  </template>
  <template id="error-template">
    <p>В каталоге пока нет товаров</p>
  </template>
</section>

<script src="scripts/favourites.js"></script>
<script src="scripts/catalog.js"></script>
{{#if isAllProducts}}
  <script type="text/javascript">getAllProducts();</script>
{{else}}
  <script type="text/javascript">getProducts("{{type}}");</script>
{{/if}}