<footer>
  <div class="text-columns">
    <div id="contacts-side" class="text-columns-item">
      <h3>Контактная информация</h3>
      <a href="tel:88008888088" class="contact-side"><img class="text-icon" src="images/ringer_violet.png" alt="Звонок"><strong>8-800-888-80-88</strong></a>
      <span class="contact-side"><img class="text-icon" src="images/address.png" alt="Адрес">Санкт-Петербург, Кронверский пр-кт, 20</span>
      <a href="mailto:cup-and-cake@mail.ru"><img class="icons" src="images/mail.png" alt="Почта"></a>
      <a href="https://t.me/cup-and-cake"><img class="telegram" src="images/telegram.png" alt="Телеграм"></a>
      <a href="https://vk.com/cup-and-cake"><img class="icons" src="images/vk.png" alt="Вконтакте"></a>
    </div>
    <div id="delivery" class="text-columns-item">
      <h3>Доставка</h3>
      <p>Доставка осуществляется по Санкт-Петербургу при сумме заказа от 1500&#8381;</p>
      <table>
        <tr><th>Цена</th><th>Районы доставки</th></tr>
        <tr><td class="delivery-price">Бесплатно</td><td>Василеостровский, Петроградский, Центральный</td></tr>
        <tr><td class="delivery-price">350&#8381;</td><td>Приморский, Выборгский, Калининский, Адмиралтейский, Московский(в пределах КАД), Фрунзенский, Кировский, Красносельский(в пределах КАД), Красногвардейский, Невский(в пределах КАД)</td></tr>
        <tr><td class="delivery-price">450&#8381;</td><td>Бугры, Лисий Нос, Мурино, Кудрово </td></tr>
        <tr><td class="delivery-price">500&#8381;</td><td>Новое Девяткино, Левашово, Янино-1, Шушары </td></tr>
      </table>
      <p>Самовывоз: бесплатно из нашего магазина с 9:00 до 21:00</p><br>
      <p id="timestamp">Total load time: {{loadTime}}</p>
    </div>
  </div>
  <div id="contacts-bottom">
    <div class="left-contact">
      <h3>Контактная информация</h3>
      <a href="tel:88008888088" class="contact-side"><img class="text-icon" src="images/ringer_violet.png" alt="Звонок"><strong>8-800-888-80-88</strong></a>
      <span class="contact-side"><img class="text-icon" src="images/address.png" alt="Адрес">Санкт-Петербург, Кронверский пр-кт, 20</span>
    </div>
    <div class="right-icons">
      <a href="mailto:cup-and-cake@mail.ru"><img class="icons" src="images/mail.png" alt="Почта"></a>
      <a href="https://t.me/cup-and-cake"><img class="telegram" src="images/telegram.png" alt="Телеграм"></a>
      <a href="https://vk.com/cup-and-cake"><img class="icons" src="images/vk.png" alt="Вконтакте"></a>
    </div>
  </div>
</footer>