<section id="orders-container" class="product-cards">
  <template id='order-template'>
    <div class="order">
      <h3 class="order-title">Заказ №</h3>
      <p>Дата создания: </p>
      <p>Дата доставки: </p>
      <p>Адрес: </p>
      <p>Статус: </p>
    </div>
  </template>
  <template id="order-error-template">
    <p></p>
  </template>
</section>

<script src="scripts/order.js"></script>
<script type="text/javascript">displayOrders();</script>