<footer>
    <div id="contacts">
      <div class="left-contact">
        <h3>Контактная информация</h3>
        <a href="tel:88008888088" class="contact-side"><img class="text-icon" src="images/ringer_violet.png" alt="Звонок"><strong>8-800-888-80-88</strong></a>
        <span class="contact-side"><img class="text-icon" src="images/address.png" alt="Адрес">Санкт-Петербург, Кронверский пр-кт, 20</span>
        <p id="timestamp">Total load time: {{loadTime}}</p>
      </div>
      <div class="right-icons">
        <a href="mailto:cup-and-cake@mail.ru"><img class="icons" src="images/mail.png" alt="Почта"></a>
        <a href="https://t.me/cup-and-cake"><img class="telegram" src="images/telegram.png" alt="Телеграм"></a>
        <a href="https://vk.com/cup-and-cake"><img class="icons" src="images/vk.png" alt="Вконтакте"></a>
      </div>
    </div>
  </footer>