<section id="specials-container" class="product-cards">
  <template id='special-template'>
    <div class="product-wrap">
      <div class="product-img">
        <img id="special-pic" class="product" alt="Товар">
        <img id="wishlist-btn" class="wishlist-img" alt="Сердце">
      </div>
      <div class="product-description">
        <div class="relative-position-container">
          <a class="block-link" href=""></a>
          <h4></h4>
        </div>
        <span class="prev-price"></span><span class="actual-price"></span><span class="actual-price"> &#8381;</span><br>
        <button id="shopping-cart-btn" class="btn-oval">В корзину</button>
      </div>
    </div>
  </template>
  <template id="error-template">
    <p>На данный момент акций нет</p>
  </template>
</section>
{{>productInfo}}
<script src="scripts/specials.js"></script>
<script src="scripts/favourites.js"></script>
<script src="scripts/shoppingCart.js"></script>
<script type="text/javascript">getSpecials();</script>