<main>
  <div id="user-container">
    <template id="user-template">
      <p class="user-info"></p>
      <p class="user-info"></p>
      <p class="user-info"></p>
      <p class="user-info"></p>
      <button onclick="logout()" class="btn-oval">Выйти</button>
    </template>
    <template id="error-template">
      <p>Что-то пошло не так...</p>
    </template>
  </div>
</main>
<script type="text/javascript" src="scripts/account.js"></script>
{{>supertokens}}
<script>loadUser()</script>