<main>
  <div class="relative-position-container">
    <img class="main-img" src="images/quote.jpg" alt="Торт">
    <q id="quote">Сладости — лучшее лекарство от слез девушки</q>
  </div>

  <section class="category">
    {{>category link="/catalog-cakes" image="images/cake.jpeg" name="Торты"}}
    {{>category link="/catalog-bento" image="images/bento.jpeg" name="Бенто-торты"}}
    {{>category link="/catalog-cupcakes" image="images/cupcake.jpeg" name="Капкейки"}}
    {{>category link="/catalog-donuts" image="images/donuts.jpeg" name="Пончики"}}
    {{>category link="/catalog-macaroni" image="images/macarun.jpeg" name="Макарони"}}
    {{>category link="/catalog-drinks" image="images/coffee.jpeg" name="Чай&Кофе"}}
  </section>
  <h2>Специальные предложения</h2>
  {{>specials}}
</main>