<main>
  <form class="user-login">
    <h2>Войти</h2>
    <label for="email" class="form-label"><b>Email</b>
      <input class="form-input" type="email" id="email" placeholder="Введите Email" name="email" required>
    </label>

    <label for="psw" class="form-label"><b>Пароль</b>
      <input class="form-input" type="password" id="password" placeholder="Введите пароль" name="password" required>
    </label>

    <button type="submit" class="btn-oval form-button">Войти</button>
    <a href="/sign-up">Зарегистрироваться</a>
  </form>
</main>
{{>supertokens}}
<script type="text/javascript" src="scripts/login.js"></script>