<main>
  <form class="user-signup">
    <h2>Регистрация</h2>
    <label class="form-label" for="name"><b>Имя</b>
      <input class="form-input" type="text" id="name" placeholder="Введите имя" name="name" required>
    </label>

    <label class="form-label" for="phone_number"><b>Номер телефона</b>
      <input class="form-input" type="text" id="phone_number" placeholder="Введите номер телефона" name="phone_number" required>
    </label>

    <label class="form-label" for="email"><b>Email</b>
      <input class="form-input" type="email" id="email" placeholder="Введите Email" name="email" required>
    </label>

    <label class="form-label" for="password"><b>Пароль</b>
      <input class="form-input" type="password" id="password" placeholder="Введите пароль" name="password" required>
    </label>

    <button type="submit" class="btn-oval form-button">Зарегистрироваться</button>
    <a href="/login">Войти</a>
  </form>
</main>
{{>supertokens}}
<script type="text/javascript" src="scripts/signup.js"></script>